*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}

body {
    background-color: $default-background;
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 1.5rem;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 2px 5px $shadow;
}

.button {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: none;
    border: 2px solid $google-border;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--full-width {
        @extend .form;
        width: 100%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        label {
            font-weight: 500;
            margin: 0 1rem 0 1rem;
        }

        .error-message {
            display: none;
            font-size: 0.9rem;
        }
    
        input, textarea, select {
            outline: none;
            border: 1px solid $google-border;
            border-radius: 10px;
            padding: 1rem;
            width: 100%;
        }
    
        textarea {
            resize: none;
            min-height: 10rem;
            font-size: 1rem;
        }

        &.error {
            color: $form-error-color;

            .error-message {
                display: block;
                margin: 0 1rem 0 1rem;
            }

            input, textarea, select {
                border: 1px solid $form-error-color;
                background-color: $form-error-color-light;
            }
        }
    }

    button {
        @extend .button;
        align-self: center;
    }
}

.row {
    border-bottom: 2px solid $google-border;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $blur-backround;
    z-index: 9;

    &--off {
        display: none;
    }

    .alert {
        $alert-width: 50vw;

        background: $project-background;
        border-radius: 20px;
        width: $alert-width;
        z-index: 10;
        position: relative;
        max-height: 80vh;
        overflow-y: auto;
        top: 12.5vh;
        left: calc(50vw - ($alert-width / 2));

        padding: 1rem;

        h1 {
            font-weight: 600;
            text-align: center;
            padding: 1rem;
        }
    }
}

.description-wrapper {
    @extend .card;
    position: relative;

    .description {
        margin: 2.5rem 0 0 0;
    }

    textarea {
        width: 100%;
        height: 20rem;
        border: none;
        outline: none;
        resize: none;
        font-size: 1rem;
    }

    .icon {
        width: 1.5rem;
        position: absolute;
        cursor: pointer;
    }

    .edit-icon {
        @extend .icon;
        top: 1rem;
        right: 1rem;
    }

    .cancel-icon {
        @extend .icon;
        top: 1rem;
        right: 3rem;
    }
}