@charset "utf-8";

@import 'colors';
@import 'base';
@import 'projects';
@import 'project';
@import 'bug';

.top-bar {
    background: linear-gradient(to right,$top-bar-background 50%, $top-bar-gradient);
    border: 1px solid $top-bar-border;
    box-shadow: 5px 3px 5px $shadow;
    padding: 5px 0px 5px 0px;
    text-align: center;

    .top-bar__title-wrapper{
        display: inline-flex;
        justify-content: center;
        width: 100%;
        
        h1 {
            font-size: 2rem;
            font-weight: normal;
        }

        img {
            width: 1.5rem;
            flex: none;
            align-self: center;
            margin: 0 0 0 1rem;
            cursor: pointer;
        }

        input {
            width: 80%;
            font-size: 2rem;
            font-weight: normal;
            outline: none;
        }
    }
}

.error-message-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;

    .error-message {
        @extend .card;

        background: $error-message-background;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;
        width: 100%;

        .color-border {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0.5rem;

            &.background-error {
                background-color: $error-message-border-color-error;
            }

            &.background-success {
                background-color: $error-message-border-color-success;
            }

            &.background-warning {
                background-color: $error-message-border-color-warning;
            }
        }

        img {
            width: 1.5rem;
        }

        .error-message__main-icon {
            align-self: center;
            width: 2rem;
        }
    
        .error-message__content {
            display: flex;
            flex-direction: column;
    
            .error-message__title {
                font-size: 1.5rem;
            }
    
            /*.error-message__text {
    
            }*/
        }
    
        .error-message__close-icon-wrapper {
            margin-left: auto;
    
            .error-message__close-icon {
                width: 1rem;
                align-self: flex-end;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}