@charset "utf-8";

@import 'colors';
@import 'base';
@import 'projects';
@import 'project';
@import 'bug';

.top-bar {
    background: linear-gradient(to right,$top-bar-background 50%, $top-bar-gradient);
    border: 1px solid $top-bar-border;
    box-shadow: 5px 3px 5px $shadow;
    padding: 5px 0px 5px 0px;
    text-align: center;

    .top-bar__title-wrapper{
        display: inline-flex;
        justify-content: center;
        width: 100%;
        
        h1 {
            font-size: 2rem;
            font-weight: normal;
        }

        img {
            width: 1.5rem;
            flex: none;
            align-self: center;
            margin: 0 0 0 1rem;
            cursor: pointer;
        }

        input {
            width: 80%;
            font-size: 2rem;
            font-weight: normal;
            outline: none;
        }
    }
}

