$shadow: #AAB977;
$pale-spring-bud: #ccd5aeff;
$pale-spring-bud-2: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$papaya-whip-border: #EEC356;
$fawn: #d4a373ff;
$fawn-border: #C98C4F;
$google-border: #dadce0;
$google-selected-input: #1a73e8;
$youtube-read-more: #6c6c6c;

$top-bar-background: $fawn;
$top-bar-border: $fawn-border;
$top-bar-gradient: #B27537;

$project-background: $papaya-whip;
$project-gradient: #F1CE73;
$project-border: $papaya-whip-border;

$default-background: $cornsilk;

.filter-red {
    //https://codepen.io/sosuke/pen/Pjoqqp
    //https://stackoverflow.com/a/53336754
    //filter: invert(28%) sepia(81%) saturate(6415%) hue-rotate(353deg) brightness(93%) contrast(128%);
    filter: invert(11%) sepia(81%) saturate(7012%) hue-rotate(0deg) brightness(90%) contrast(122%);
}

.filter-green {
    //#00B600
    filter: invert(39%) sepia(100%) saturate(1467%) hue-rotate(90deg) brightness(100%) contrast(109%);
}

.button {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: none;
    border: 2px solid $google-border;
    cursor: pointer;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}

html {
    font-size: 10px;
}

body {
    background-color: $default-background;
    font-family: "Open Sans", sans-serif;
    padding: 0px 0px 20px 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stopScrolling {
    height: 100%;
    overflow: hidden;
}

.sticky {
    z-index: 5;
    background: $default-background;
    position: sticky;
    top: 0;
}

.topBar {
    background: linear-gradient(to right,$top-bar-background 50%, $top-bar-gradient);
    border: 1px solid $top-bar-border;
    box-shadow: 5px 3px 5px $shadow;
    padding: 5px 0px 5px 0px;
    text-align: center;

    .titleWrapper{
        display: inline-flex;
        justify-content: center;
        width: 100%;
        
        h1 {
            font-size: 3.5rem;
            font-weight: normal;
        }

        img {
            width: 25px;
            flex: none;
            align-self: center;
            margin: 0px 0px 0px 10px;
            cursor: pointer;
        }

        input {
            width: 80%;
            font-size: 3rem;
            font-weight: normal;
            outline: none;
        }
    }
}

.searchBarWrapper {
    display: flex;
    justify-content: center;
}

.searchBar {
    padding: 16px 16px 16px 16px;
    background-color: #fff;
    border: 1px solid $google-border;
    border-radius: 10px;
    box-shadow: 2px 2px 5px $shadow;
    margin: 20px 0px 0px 0px;
    display: flex;

    .searchInput {
        border: none;
        outline: none;
        width: 100%;
    }

    .searchInput:focus {
        color: $google-selected-input;
    }

    img {
        width: 20px;
        cursor: pointer;
    }
}

.grid {
    margin: 20px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 2px 5px $shadow;
}

.project {
    @extend .card;
    position: relative;
    align-self: center;
    background-color: $project-background;
    //background: radial-gradient(ellipse at right top, $project-background 40%, $project-gradient);
    border: 1px solid $project-border;
    cursor: pointer;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 10px 10px;

    h1 {
        margin: 10px 10px 10px 10px;
        font-weight: 500;
        font-size: 2rem;
        max-height: 100%;
        overflow: hidden;
    }

    .projectAddIcon {
        width: 50px;
    }

    .deleteIcon {
        width: 27px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
}

.project:hover {
    box-shadow: 4px 4px 10px $shadow;
}

.projectAddForm {
    @extend .project;
    height: auto;
    box-shadow: 4px 4px 10px $shadow;
    cursor: auto;
    grid-column: 2 / span 2;
    width: 100%;
}

.projectAddForm + .project {
    grid-row: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .formGroup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        label {
            font-size: 13.5px;
            font-weight: 500;
            margin: 0px 10px 0px 10px;
        }
    
        input, textarea {
            outline: none;
            border: 1px solid $google-border;
            border-radius: 10px;
            padding: 10px 10px 10px 10px;
            width: 100%;
        }
    
        textarea {
            resize: none;
            min-height: 100px;
        }
    }

    button {
        @extend .button;
        align-self: center;
    }
}

.formFullWidth {
    @extend .form;
    width: 100%;
}

.backgroundBlur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 9;

    .newProjectAlert {
        background: $project-background;
        border-radius: 20px;
        width: 500px;
        z-index: 10;
        position: relative;
        top: 12.5vh;
        left: calc(50vw - 250px);

        padding: 10px 10px 10px 10px;

        h1 {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            padding: 10px 10px 10px 10px;
        }
    }
}
.backgroundBlur-off {
    display: none;
}

/****************Bugs************/
.projectTitle {
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 30px;
    font-weight: 600;
}
.projectDescriptionWrapper {
    @extend .card;
    position: relative;
    font-size: 15px;
    margin: 20px 20px 20px 20px;
    padding: 20px 10px 20px 10px;
    background: #ffffff;
    border: 1px solid $google-border;

    .projectDescription {
        margin: 15px 0px 0px 0px;
        //text-align: center;
        display: flex;
        justify-content: center;
        max-height: 190px;
        overflow: hidden;
        //text-overflow: " Read more ...";

        &.open {
            max-height: none;
        }
    }

    textarea {
        width: 100%;
        height: 200px;
        border: none;
        outline: none;
        resize: none;
    }

    .readMoreButton {
        margin: 5px 0px 0px 0px;
    }

    .icon {
        width: 25px;
        position: absolute;
        cursor: pointer;
    }

    .editIcon {
        @extend .icon;
        top: 10px;
        right: 10px;
    }

    .cancelIcon {
        @extend .icon;
        top: 10px;
        right: 40px;
    }
}

.readMoreButton {
    color: $youtube-read-more;
    cursor: pointer;
    width: fit-content;
}

.bugsTable {
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px $shadow;
    border: none;
    //border-radius: 20px;
    position: relative;
}

.row {
    border-bottom: 2px solid $google-border;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    display: flex;
    gap: 10px;
}

/*.row:first-of-type {
    border-top: 2px solid $google-border;
}*/
/*.row:last-of-type {

}*/

.bugsTableHeader {
    @extend .row;
    padding: 15px 10px 15px 10px;
    border-bottom: 3px solid $google-border;
    font-weight: 500;
    font-size: 15px;
    background-color: $project-gradient;
    //border-radius: 20px 20px 0px 0px;
    position: sticky;
    top: 0;
}

.bugRow {
    @extend .row;
    background: #ffffff;
    padding: 15px 10px 15px 10px;
}
.bugRow:last-of-type {
    border-bottom: none;
}

.headerTitle {
    flex: 1 0 30%;
}
.headerPriority {
    flex: 0 0 10%;
}
.headerStartDate {
    flex: 1 0 10%;
}
.headerDueDate {
    flex: 1 0 10%;
}
.headerActions {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 10%;
    align-self: flex-end;
    gap: 5px;

    .addIcon {
        width: 25px;
        cursor: pointer;
    }
}

.bugTitle {
    flex: 1 0 30%;
    overflow: hidden;
    //white-space: nowrap;
    cursor: pointer;
}
.bugTitle:hover {
    color: $google-selected-input;
}
.bugPriority {
    flex: 0 0 10%;
    //text-align: center;
}
.bugStartDate {
    flex: 1 0 10%;
}
.bugDueDate {
    flex: 1 0 10%;
}
.bugActions {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 10%;
    align-self: flex-end;
    gap: 5px;
}

/****************Bug sans "s"************/
.bugPageWrapper {
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1fr;
    align-items: start;
    font-size: 1.5rem;
    margin: 20px 20px 20px 20px;
    gap: 0px 20px;

    .bugMainSection {
        @extend .card;
        padding: 20px;
        background: #ffffff;
        border: 1px solid $google-border;
    }

    .bugProperties {
        @extend .card;
        background: #ffffff;
        border: 1px solid $google-border;
        position: sticky;
        top: 20px;
        padding: 10px;

        .property {
            display: flex;
            gap: 1.5rem;
        }

        .label {
            font-weight: 600;
        }

        .dates {
            //border-top: 1px solid #000000;
            //border-radius: 10px;
            padding: 5px 0px 0px 0px;
            margin: 5px 0px 0px 0px;
        }

        button {
            @extend .button;
            //padding: 5px;
            width: 100%;
        }
    }
}
